@font-face {
    font-family: "Roboto Regular";
    src: url(/assets/fonts/Roboto/Roboto-Regular.ttf);
}

@font-face {
    font-family: "Roboto Bold";
    src: url(/assets/fonts/RobotoCondensed/RobotoCondensed-Bold.ttf);
}

*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    padding: 0;
    margin: 0;
    min-width: 100%;
    line-height: 1;
    overflow-x: hidden;
}

.main {
    width: 100%;
    height: 1928px;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

.top-container {
    height: 892px;
    width: 100%;
    background-image: url(/assets/images/top/top_main.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
}

.left-darkness {
    min-height: 100%;
    min-width: 320px;
    width: 100%;
    height: auto;
    position: absolute;
    left: 0;
    background-image: url(/assets/images/top/dark_1.png);
    background-repeat: no-repeat;
}

.right-darkness {
    min-height: 100%;
    min-width: 320px;
    height: auto;
    position: absolute;
    right: 0;
    background-image: url(/assets/images/top/dark_2.png);
    background-repeat: no-repeat;
}

.bottom-darkness {
    width: 100%;
    height: 40%;
    position: absolute;
    bottom: 0;
    background-image: url(/assets/images/top/dark_3.png);
    background-repeat: no-repeat;
}

.top-center-glow {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0%;
    background-image: url(/assets/images/top/glow_1.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 0.7;
    filter: brightness(1.5) saturate(0.7);
    z-index: 2;
}

.top-bottom-glow {
    height: 20%;
    width: 100%;
    position: absolute;
    bottom: 0;
    background-image: url(/assets/images/top/glow_2.png);
    background-repeat: no-repeat;
    background-position: bottom;
}

.main-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.top-center-part {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    z-index: 3;
}

.top-left-part {
    z-index: 1;
}

.top-right-part {
    z-index: 1;
    margin-right: 5%;
}

.top-center-part img {
    max-width: 100%;
}

.logo-container {
    width: 376px;
}

.boxes-container {
    width: 766px;
    margin-top: -90px;
}

.text-container {
    width: 250%;
    margin-top: -50px;
}

.title {
    font-family: "Roboto Bold", sans-serif;
    font-size: 42px;
    color: white;
    margin: 0 auto 25px;
    text-align: center;
}

.content {
    margin: 0 auto 47px;
    font-family: "Roboto Regular", sans-serif;
    font-size: 20px;
    color: white;
    text-align: center;
}

.bottom-container {
    height: 1024px;
    background: url(/assets/images/bottom/bottom_main.png) no-repeat center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
    position: relative;
}

.bottom-left-part {
    z-index: 1;
    margin-left: 100px;
}

.bottom-right-part {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: center;
    margin-top: 45px;
    z-index: 1;
}

.bottom-header {
    font-family: "Roboto Bold", sans-serif;
    font-size: 30px;
    color: #416DF4;
    text-align: center;
}

.table {
    font-family: "Roboto Regular", sans-serif;
    font-size: 12px;
    border-spacing: 4px;
}

.table thead>tr {
    outline: none;
}

.table tbody>tr {
    outline: 1px solid #671D00;
}

.table th {
    padding: 5px 15px;
    color: #671D00;
    border: none;
}

.table th:nth-child(n+3) {
    border: 1px solid #671D00;
}

.table td {
    color: white;
    font-size: 16px;
}

.table td:first-child {
    width: 65px;

}

.table td:nth-last-child(-n+2) {
    width: 180px;
    text-align: center;
}

.table td:nth-child(2) {
    width: 230px;
    text-align: start;
    padding: 0 50px 0 15px;
}

.box-container {
    display: flex;
    flex-direction: row;
    width: 70%;
}

.price-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin: 0 0 60px -150px;
}

.price {
    font-family: "Roboto Regular", sans-serif;
    font-size: 50px;
    color: white;
    margin-bottom: 20px;
}

.purchase-btn {
    width: 180px;
    height: 40px;
    background-color: #FCFF00;
    color: black;
    font-size: 16px;
    border-radius: 7px;
}

.bottom-center-glow {
    width: 820px;
    height: 820px;
    position: absolute;
    left: 0;
    top: 10%;
    background-image: url(/assets/images/bottom/ellipse.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 120%;
    border-radius: 90%;
}

.bottom-bottom-glow {
    height: 17%;
    width: 100%;
    position: absolute;
    bottom: 0;
    background-image: url(/assets/images/bottom/glow_4.png);
    background-repeat: no-repeat;
    background-position: bottom;
    filter: saturate(1.5);
}